<a href="https://colab.research.google.com/github/abimbolaoige/abimbolaoige/blob/main/Mini_Project1_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
### This project covers:\n",
        "\n",
        "1. Python Data Structures\n",
        "2. Loops\n",
        "3. If Statements\n",
        "4. List Comprehension\n",
        "5. Lambda Functions"

### Question 1: Filter Even Numbers

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
even = []
odd = []
for num in numbers:
    if num % 2 == 0:
        even.append(num)
    else:
        odd.append(num)
grouped_numbers = {'even': even, 'odd': odd}

In [ ]:
even[:]

[2, 4, 6, 8, 10]

In [ ]:
odd[:]

[1, 3, 5, 7, 9]

### Question 2: Square Numbers Using Lambda

In [ ]:
numbers = [1, 2, 3, 4, 5]

In [ ]:
numbers[:]

[1, 2, 3, 4, 5]

In [ ]:
lambda x: x * x

In [ ]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(lambda x: x * x, numbers))

In [ ]:
print(squared_numbers)

[1, 4, 9, 16, 25]

### Question 3: Nested Loop for Matrix Transposition

Given matrix\n",
        "matrix = [\n",
        "    [1, 2, 3],\n",
        "    [4, 5, 6],\n",
        "    [7, 8, 9]\n",

In [ ]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

transposed_matrix = [[0 for _ in range(len(matrix))] for _ in range(len(matrix[0]))]
for i in range(len(matrix)):
    for j in range(len(matrix[0])):
        transposed_matrix[j][i] = matrix[i][j]

In [ ]:
print(transposed_matrix)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

### Question 4 Flatten a Nested List\n",

In [ ]:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

In [ ]:
nested_list[:]

[[1, 2, 3], [4, 5], [6, 7, 8, 9]]

In [ ]:
flattened_list = []
for sublist in nested_list:
    for item in sublist:
        flattened_list.append(item)

In [ ]:
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### *Question 5: Dictionary from Two Lists

In [ ]:
keys = ['name', 'age', 'city'],
values = ['Alice', 25, 'New York']

In [ ]:
my_dict = {}

In [ ]:
for i in range(len(keys)):
      if i < len(values):
        my_dict[keys[i]] = values[i]

In [ ]:
print(my_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

### Question 6: Filter and Transform Dictionary

In [ ]:
students = {
    'Alice': 85,
    'Bob': 75,
    'Charlie': 95,
    'David': 65,
    'Eve': 50
}

In [ ]:
# Use filter and lambda to select students who scored more than 70
passed = filter(lambda item: item[1] > 70, students.items())

In [ ]:
# Use dictionary comprehension to add 5 bonus points to their scores
passed_students = {name: score + 5 for name, score in passed}

In [ ]:
print(passed_students)

{'Alice': 90, 'Bob': 80, 'Charlie': 100}

### Question 7: Grouping Elements by Parity

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
grouped_numbers = {
    'even': [num for num in numbers if num % 2 == 0],
    'odd': [num for num in numbers if num % 2 != 0]
}

In [ ]:
print(grouped_numbers)

{'even': [2, 4, 6, 8, 10], 'odd': [1, 3, 5, 7, 9]}

### Question 8: Fibonacci Sequence Generator

In [ ]:
n = 10

In [ ]:
fibonacci = [0, 1]
n = 10

In [ ]:
# Only generate more if n > 2
if n > 2:
    for i in range(2, n):
        next_number = fibonacci[i - 1] + fibonacci[i - 2]
        fibonacci.append(next_number)

In [ ]:
# If n is less than 2, slice the list to contain only n elements
fibonacci = fibonacci[:n]

In [ ]:
print(fibonacci)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]